# IDE files
*.class
.classpath
.project
.settings/*
.externalToolBuilders/*
target/*
*.swp
.idea
*.iml

# Package Files #
*.war
*.ear

# Maven build files
target
*/target
/bin
*.orig
my-tokens.properties

# Environment Configurations
.env
edge/.DS_Store
.DS_Store

# Node downloads
edge/node_modules/*

# Testing
lint.html
